.button {
    border: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    background-color: #f3dc45;
    color: #3d2902;
    padding: 10px;
}

.button:hover {
    background-color: #fae76c;
}

, button:active {
    background-color: #f6e683
}